@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './bio-effects.css';

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

* {
  scrollbar-width: none;
}